'.source.scicalc':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
        \\{ [^}"]* $
      | \\[ [^\\]"]* $
      | \\( [^)"]* $
      '
    'decreaseIndentPattern': '(?x)
        ^ \\s* (\\s* /[*] .* [*]/ \\s*)* [}\\])]
      '
